body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(66, 66, 66);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1919;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Nav */
.nav {
    display: flex;
    gap: 20px;
}

.nav a:hover {
    background-color: rgb(87, 87, 87);
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

/* Desktop view */
.project-1 {
    color: white;
    border: solid black 2px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.project-1 h1 {
    margin-bottom: 10px;
    border-bottom: solid black 2px;
    padding: 10px;
}

#message-container {
    padding: 10px;
    height: 100px;
}
p {
    margin: 5px 0;
}

#rand_message_button {
    font-size: 25px;
    font-weight: bold;
}

/* Row 1 */
.project-links, .project-image {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #212027;
    color: white;
}

.project-links {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-links h2 {
    margin: 0 0 20px;
}

.project-image img {
    width: calc(100% - 20px); /* Subtracting 20px to account for the left and right margins */
    height: 100%;
    object-fit: cover;
    margin: 10px;
}

.project-links ul {
    padding: 0;
}

.project-links li {
    list-style: none;
    padding: 5px;
}

.project-links a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
}

.project-links a:hover {
    background-color: rgb(87, 87, 87);
}

/* Tablet view (landscape) */
@media only screen and (min-width: 601px) and (max-width: 991px) {
    .header {
        padding: 10px 15px;
    }

    .logo {
        font-size: 20px;
    }

    .nav a {
        padding: 8px 12px;
    }
}

/* Mobile view */
@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        font-size: 18px;
    }

    .nav {
        flex-direction: column;
        gap: 10px;
    }

    .nav a {
        padding: 8px 10px;
    }

    #message-container {
        padding: 20px;
        height: 200px;
    }
    p {
        margin: 10px 0;
    }
    
}
